.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  color: crimson !important;
}
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 50px;
}
.Nav > a {
  margin: 0px 50px;
  color: gray;
  text-decoration: none;
}
.Nav > a:hover {
  color: crimson;
}
.nav-img {
  background: crimson;
  width: 100px;
  position: absolute;
  top: 0px;
  border-radius: 50%;
  padding: 10px;
  left: 0px;
}
.screen {
  background-color: rgb(27, 27, 27);
  margin-top: 40px;
  width: 80%;
  height: 85%;
  box-shadow: 10px 10px 20px rgb(20, 20, 20);
  position: fixed;
  border-radius: 10px;
}
.screen > div {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 10px;
  width: 10px;
}
.form h1 {
  margin-bottom: 40px;
}
.form form {
  background-color: rgb(39, 39, 39);
  color: rgb(202, 202, 202);
  padding: 50px;
  border-radius: 10px;
  height: fit-content;
}
.form input {
  background-color: rgb(25, 25, 25);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
  width: 200px;
  height: 20px;
  color: gray;
}
.form textarea {
  background-color: rgb(25, 25, 25);
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  color: gray;
  margin-bottom: 20px;
}
.form textarea:focus {
  outline: none;
  background-color: rgb(17, 17, 17);
  color: crimson;
}
.form input:autofill {
  background-color: rgb(20, 20, 20);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
  color: gray;
}
.form input:focus {
  outline: none;
  background-color: rgb(17, 17, 17);
  color: crimson;
}
.form button[type='submit'] {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid crimson;
  color: crimson;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.5s, color 0.5s;
}
.form button[type='submit']:hover {
  background: crimson;
  color: white;
}
.form input[type='file'] {
  height: auto;
  background-color: transparent;
  margin-left: -10px;
  margin-top: -5px;
}
.form input[type='file']::-webkit-file-upload-button {
  background-color: crimson;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.form input[type='file']::-webkit-file-upload-button:hover {
  background-color: rgb(202, 20, 57);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}
.form-ques{
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: -10px;
}
.form-ques a{
  color: crimson;
}
.form-ques a:hover{
  color: rgb(235, 94, 122);
}
.Home {
  flex-wrap: wrap;
}
.Card {
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgb(20, 20, 20);
}
.upper-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.upper-part img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 10%;
}
.upper-part h2 {
  color: gray;
  text-transform: capitalize;
  font-weight: 500;
}
.middle-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-part img {
  width: 300px;
  margin-top: 7px;
}
.spinner {
  width: 70px;
  height: 70px;
  border: 5px solid rgb(70, 70, 70);
  border-radius: 50%;
  border-top: 5px solid crimson;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lower-part {
  color: gray;
}
.lower-up-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
  margin: 0 -10px;
  color: rgb(204, 204, 204);
  padding: 10px;
}
.lower-up-part p {
  font-size: 14px;
}
.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
}
.like-button {
  font-size: 20px;
  margin-right: 10px;
  background-color: transparent;
  color: inherit;
  border: none;
  transition: all 0.5s;
  color: white;
}
.like-button:hover {
  cursor: pointer;
  color: crimson;
}
.read-more {
  cursor: pointer;
  color: white;
  background-color: crimson;
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.read-more:hover {
  background-color: rgb(202, 20, 57);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}
